##run <No_of_Tests> <Stall_Timeout> <Model_Name> <Model_Command> <Max_Sim_Time> <Worker_Threads> <Scheduler_Count> <Chain_Size>
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 2 1 1
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 2 1 2
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 2 1 4
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 2 1 6
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 2 1 8
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 4 1 1
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 4 1 2
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 4 1 4
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 4 1 6
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 4 1 8
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 8 1 1
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 8 1 2
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 8 1 4
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 8 1 6
run 4 700 epidemic "./epidemic_sim -m model_100k.dat" 60000 8 1 8
