# build <rootPath> <gitBranch> <mpiIncludePath> <mpiLibraryPath> <additionalFlags>

# bagProfile <model> <modelCmd> <maxSimTime> <fileName>

# runBag    <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime>
#           <workerThreads> <staticBagWindowSize> <fracBagWindow> <gvtMethod>
#           <gvtPeriod> <stateSavePeriod> <partitioningFile>

# permuteConfigBag  <testCycles> <timeoutPeriod> <model> <modelCmd> <arrMaxSimTime>
#           <arrWorkerThreads> <arrStaticBagWindowSize> <arrFracBagWindow>
#           <arrGvtMethod> <arrGvtPeriod> <arrStateSavePeriod> <partitioningFile>

# chainRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#           <maxSimTime> <workerThreads> <scheduleQCount>
#           <chainSize> <isLpMigrationOn> <gvtMethod>
#           <gvtPeriod> <stateSavePeriod>

# blockRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#           <maxSimTime> <workerThreads> <scheduleQCount>
#           <blockSize> <isLpMigrationOn> <gvtMethod>
#           <gvtPeriod> <stateSavePeriod>

# scheduleQRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#           <maxSimTime> <workerThreads> <scheduleQType>
#           <scheduleQCount> <isLpMigrationOn> <gvtMethod>
#           <gvtPeriod> <stateSavePeriod>

# permuteConfigScheduleQ  <testCycles> <timeoutPeriod> <model>
#           <modelCmd> <arrMaxSimTime> <arrWorkerThreads>
#           <scheduleQType> <arrScheduleQCount> <arrLpMigrationOn>
#           <arrGvtMethod> <arrGvtPeriod> <arrStateSavePeriod>


### Common Configurations ###
max_sim_time=("5000" "10000" "15000")
worker_threads=("8" "16" "32" "48")
schedule_queues=("1" "2" "4" "8")
lp_migration=("off" "on")
bag_window_size=("0" "200" "100")
frac_bag_window=("1.0" "0.75" "0.50" "0.25")
gvt_method=("asynchronous" "synchronous")
gvt_period=("500" "1000" "2000")
state_save_period=("5" "10" "25" "50")


# Master
build "$HOME/ssd/ecl_warped/" master "/usr/include/mpich" "/usr/lib/mpich" ""
permuteConfigScheduleQ 1 500 traffic "./traffic_sim" max_sim_time worker_threads \
        "stl-multiset" schedule_queues lp_migration gvt_method gvt_period state_save_period

build "$HOME/ssd/ecl_warped/" master "/usr/include/mpich" "/usr/lib/mpich" "--with-splay-tree"
permuteConfigScheduleQ 1 500 traffic "./traffic_sim" max_sim_time worker_threads \
        "splay-tree" schedule_queues lp_migration gvt_method gvt_period state_save_period

build "$HOME/ssd/ecl_warped/" master "/usr/include/mpich" "/usr/lib/mpich" "--with-sorted-ladder-queue"
permuteConfigScheduleQ 1 500 traffic "./traffic_sim" max_sim_time worker_threads \
        "sorted-ladder-queue" schedule_queues lp_migration gvt_method gvt_period state_save_period

build "$HOME/ssd/ecl_warped/" master "/usr/include/mpich" "/usr/lib/mpich" "--with-partially-sorted-ladder-queue"
permuteConfigScheduleQ 1 500 traffic "./traffic_sim" max_sim_time worker_threads \
        "unsorted-bottom" schedule_queues lp_migration gvt_method gvt_period state_save_period


# Lock-free
build "$HOME/ssd/ecl_warped/" lockfree_ladder_queue "/usr/include/mpich" "/usr/lib/mpich" ""
permuteConfigScheduleQ 1 500 traffic "./traffic_sim" max_sim_time worker_threads \
        "lockfree-unsorted-bottom" schedule_queues lp_migration gvt_method gvt_period state_save_period


### Bag Scheduling ###
build "$HOME/ssd/ecl_warped/" bag_scheduling "/usr/include/mpich" "/usr/lib/mpich" ""
bagProfile traffic "./traffic_sim" 10000 statistics.out
permuteConfigBag 1 500 traffic "./traffic_sim" max_sim_time worker_threads bag_window_size \
                        frac_bag_window gvt_method gvt_period state_save_period statistics.out



# Chain Scheduling
#build "$HOME/ssd/ecl_warped/" chain_scheduling "/usr/include/mpich" "/usr/lib/mpich" ""
#chainRun 1 100 traffic "./traffic_sim" 10000 8 2 4 off asynchronous 1000 10


# Block Scheduling
#build "$HOME/ssd/ecl_warped/" block_scheduling "/usr/include/mpich" "/usr/lib/mpich" ""
#blockRun 1 100 traffic "./traffic_sim" 10000 8 2 4 off asynchronous 1000 10

