# build     <rootPath> <gitBranch> <mpiIncludePath> <mpiLibraryPath> <additionalFlags>

# bagProfile <model> <modelCmd> <maxSimTime> <fileName>

# runBag    <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime>
#           <workerThreads> <staticBagWindowSize> <fracBagWindow> <gvtMethod>
#           <gvtPeriod> <stateSavePeriod> <partitioningFile>

# permuteConfigBag <testCycles> <timeoutPeriod> <model> <modelCmd> <arrMaxSimTime>
#           <arrWorkerThreads> <arrStaticBagWindowSize> <arrFracBagWindow>
#           <arrGvtMethod> <arrGvtPeriod> <arrStateSavePeriod> <partitioningFile>

# runChain  <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime> <workerThreads>
#           <scheduleQCount> <chainSize> <isLpMigrationOn> <gvtMethod> <gvtPeriod>
#           <stateSavePeriod>

# runBlock  <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime>
#           <workerThreads> <scheduleQCount> <blockSize> <isLpMigrationOn>
#           <gvtMethod> <gvtPeriod> <stateSavePeriod>

# permuteConfigGroup <testCycles> <timeoutPeriod> <model> <modelCmd> <arrMaxSimTime>
#           <arrWorkerThreads> <arrScheduleQCount> <groupType> <arrGroupSize>
#           <arrLpMigration> <arrGvtMethod> <arrGvtPeriod> <arrStateSavePeriod>

# runScheduleQ <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime>
#           <workerThreads> <scheduleQType> <scheduleQCount> <isLpMigrationOn>
#           <gvtMethod> <gvtPeriod> <stateSavePeriod>

# permuteConfigScheduleQ <testCycles> <timeoutPeriod> <model> <modelCmd>
#           <arrMaxSimTime> <arrWorkerThreads> <scheduleQType> <arrScheduleQCount>
#           <arrLpMigration> <arrGvtMethod> <arrGvtPeriod> <arrStateSavePeriod>


### Common Configurations ###

root_dir="$HOME/ssd/ecl_warped/"
mpi_includdir="/usr/include/mpich"
mpi_libdir="/usr/lib/mpich"

model_cmd="./traffic_sim"

max_sim_time=("5000" "10000" "15000")
worker_threads=("8" "16" "32" "48")
schedule_queues=("1" "2" "4" "8")
lp_migration=("off" "on")
gvt_method=("asynchronous" "synchronous")
gvt_period=("500" "1000" "2000")
state_save_period=("5" "10" "25" "50")

bag_window_size=("0" "200" "100")
frac_bag_window=("1.0" "0.75" "0.50" "0.25")

chain_size=("4" "8" "12" "16")
block_size=("25" "50" "100" "200")


### Execution Sequences ###

# Master
build $root_dir master $mpi_includdir $mpi_libdir ""
permuteConfigScheduleQ 1 500 traffic "$model_cmd" max_sim_time worker_threads \
        "stl-multiset" schedule_queues lp_migration gvt_method gvt_period state_save_period

build $root_dir master $mpi_includdir $mpi_libdir "--with-splay-tree"
permuteConfigScheduleQ 1 500 traffic "$model_cmd" max_sim_time worker_threads \
        "splay-tree" schedule_queues lp_migration gvt_method gvt_period state_save_period

build $root_dir master $mpi_includdir $mpi_libdir "--with-sorted-ladder-queue"
permuteConfigScheduleQ 1 500 traffic "$model_cmd" max_sim_time worker_threads \
        "ladder-queue" schedule_queues lp_migration gvt_method gvt_period state_save_period

build $root_dir master $mpi_includdir $mpi_libdir "--with-partially-sorted-ladder-queue"
permuteConfigScheduleQ 1 500 traffic "$model_cmd" max_sim_time worker_threads \
        "unsorted-bottom" schedule_queues lp_migration gvt_method gvt_period state_save_period


# Lock-free
build $root_dir lockfree_ladder_queue $mpi_includdir $mpi_libdir ""
permuteConfigScheduleQ 1 500 traffic "$model_cmd" max_sim_time worker_threads \
        "lockfree" schedule_queues lp_migration gvt_method gvt_period state_save_period


# Bag Scheduling
build $root_dir bag_scheduling $mpi_includdir $mpi_libdir ""
bagProfile traffic "$model_cmd" 10000 statistics.out
permuteConfigBag 1 500 traffic "$model_cmd" max_sim_time worker_threads bag_window_size \
                        frac_bag_window gvt_method gvt_period state_save_period statistics.out


# Chain Scheduling
build $root_dir chain_scheduling $mpi_includdir $mpi_libdir ""
permuteConfigGroup 1 500 traffic "$model_cmd" max_sim_time worker_threads schedule_queues \
                        "chain" chain_size lp_migration gvt_method gvt_period state_save_period


# Block Scheduling
build $root_dir block_scheduling $mpi_includdir $mpi_libdir ""
permuteConfigGroup 1 500 traffic "$model_cmd" max_sim_time worker_threads schedule_queues \
                        "block" block_size lp_migration gvt_method gvt_period state_save_period

