# build <rootPath> <gitBranch> <mpiIncludePath> <mpiLibraryPath> <additionalFlags>

# bagProfile <model> <modelCmd> <maxSimTime> <fileName>

# bagRun    <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime>
#           <workerThreads> <static_bag_window_size> <frac_bag_window>
#           <gvtMethod> <gvtPeriod> <stateSavePeriod> <partitioningFile>

# chainRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#           <maxSimTime> <workerThreads> <scheduleQCount>
#           <chainSize> <isLpMigrationOn> <gvtMethod>
#           <gvtPeriod> <stateSavePeriod>

# blockRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#           <maxSimTime> <workerThreads> <scheduleQCount>
#           <blockSize> <isLpMigrationOn> <gvtMethod>
#           <gvtPeriod> <stateSavePeriod>

# scheduleQRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#               <maxSimTime> <workerThreads> <scheduleQType>
#               <scheduleQCount> <isLpMigrationOn> <gvtMethod>
#               <gvtPeriod> <stateSavePeriod>

# Master
build "$HOME/ssd/ecl_warped/" master "/usr/include/mpich" "/usr/lib/mpich" ""
scheduleQRun 1 100 traffic "./traffic_sim" 10000 8 "stl-multiset" 2 off asynchronous 1000 10

build "$HOME/ssd/ecl_warped/" master "/usr/include/mpich" "/usr/lib/mpich" "--with-splay-tree"
scheduleQRun 1 100 traffic "./traffic_sim" 10000 8 "splay-tree" 2 off asynchronous 1000 10

build "$HOME/ssd/ecl_warped/" master "/usr/include/mpich" "/usr/lib/mpich" "--with-sorted-ladder-queue"
scheduleQRun 1 100 traffic "./traffic_sim" 10000 8 "ladder-queue" 2 off asynchronous 1000 10

build "$HOME/ssd/ecl_warped/" master "/usr/include/mpich" "/usr/lib/mpich" "--with-partially-sorted-ladder-queue"
scheduleQRun 1 100 traffic "./traffic_sim" 10000 8 "unsorted-bottom" 2 off asynchronous 1000 10


# Lock-free
build "$HOME/ssd/ecl_warped/" lockfree_ladder_queue "/usr/include/mpich" "/usr/lib/mpich" ""
scheduleQRun 1 100 traffic "./traffic_sim" 10000  8 "lockfree-bottom"  2  off asynchronous 1000 10


# Bag Scheduling
build "$HOME/ssd/ecl_warped/" bag_scheduling "/usr/include/mpich" "/usr/lib/mpich" ""
bagProfile traffic "./traffic_sim" 10000 statistics.out
bagRun 1 100 traffic "./traffic_sim" 10000 8 0 1 asynchronous 1000 10 statistics.out


# Chain Scheduling
build "$HOME/ssd/ecl_warped/" chain_scheduling "/usr/include/mpich" "/usr/lib/mpich" ""
chainRun 1 100 traffic "./traffic_sim" 10000 8 2 4 off asynchronous 1000 10


# Block Scheduling
build "$HOME/ssd/ecl_warped/" block_scheduling "/usr/include/mpich" "/usr/lib/mpich" ""
blockRun 1 100 traffic "./traffic_sim" 10000 8 2 4 off asynchronous 1000 10

