# build <rootPath> <gitBranch> <mpiIncludePath> <mpiLibraryPath> <additionalFlags>

# bagProfile <model> <modelCmd> <maxSimTime> <fileName>

# bagRun    <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime>
#           <workerThreads> <static_bag_window_size> <frac_bag_window>
#           <gvtMethod> <gvtPeriod> <stateSavePeriod> <partitioningFile>

# chainRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#           <maxSimTime> <workerThreads> <scheduleQType>
#           <scheduleQCount> <chainSize> <isLpMigrationOn>
#           <gvtMethod> <gvtPeriod> <stateSavePeriod>

# blockRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#           <maxSimTime> <workerThreads> <scheduleQType>
#           <scheduleQCount> <blockSize> <isLpMigrationOn>
#           <gvtMethod> <gvtPeriod> <stateSavePeriod>

# scheduleQRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#               <maxSimTime> <workerThreads> <scheduleQType>
#               <scheduleQCount> <isLpMigrationOn> <gvtMethod>
#               <gvtPeriod> <stateSavePeriod>

build "$HOME/ecl_warped/" "chain_scheduling" "/usr/include/mpich" "/usr/lib/mpich" ""

build "$HOME/ecl_warped/" "chain_scheduling" "/usr/include/mpich" "/usr/lib/mpich" "--with-splay-tree"


build "$HOME/ecl_warped/" "chain_scheduling" "/usr/include/mpich" "/usr/lib/mpich" "--with-sorted-ladder-queue"
chainRun 1 500 traffic "./traffic_sim" 25000  4 "sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000  8 "sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000 16 "sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000 31 "sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000 48 "sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000  4 "sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000  8 "sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000 16 "sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000 31 "sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000 48 "sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000  4 "sorted-ladder-queue"  1  4 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000  8 "sorted-ladder-queue"  1  4 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000 16 "sorted-ladder-queue"  1  4 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000 31 "sorted-ladder-queue"  1  4 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000 48 "sorted-ladder-queue"  1  4 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000  4 "sorted-ladder-queue"  1  4 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000  8 "sorted-ladder-queue"  1  4 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000 16 "sorted-ladder-queue"  1  4 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000 31 "sorted-ladder-queue"  1  4 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000 48 "sorted-ladder-queue"  1  4 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000  4 "sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000  8 "sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000 16 "sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000 31 "sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 25000 48 "sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000  4 "sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000  8 "sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000 16 "sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000 31 "sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 50000 48 "sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10

build "$HOME/ecl_warped/" "chain_scheduling" "/usr/include/mpich" "/usr/lib/mpich" "--with-partially-sorted-ladder-queue"




build "$HOME/ecl_warped/" "block_scheduling" "/usr/include/mpich" "/usr/lib/mpich" ""

build "$HOME/ecl_warped/" "block_scheduling" "/usr/include/mpich" "/usr/lib/mpich" "--with-splay-tree"

build "$HOME/ecl_warped/" "block_scheduling" "/usr/include/mpich" "/usr/lib/mpich" "--with-sorted-ladder-queue"

build "$HOME/ecl_warped/" "block_scheduling" "/usr/include/mpich" "/usr/lib/mpich" "--with-partially-sorted-ladder-queue"
