# build <rootPath> <gitBranch> <mpiIncludePath> <mpiLibraryPath> <additionalFlags>

# bagProfile <model> <modelCmd> <maxSimTime> <fileName>

# bagRun    <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime>
#           <workerThreads> <static_bag_window_size> <frac_bag_window>
#           <gvtMethod> <gvtPeriod> <stateSavePeriod> <partitioningFile>

# chainRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#           <maxSimTime> <workerThreads> <scheduleQType>
#           <scheduleQCount> <chainSize> <isLpMigrationOn>
#           <gvtMethod> <gvtPeriod> <stateSavePeriod>

# blockRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#           <maxSimTime> <workerThreads> <scheduleQType>
#           <scheduleQCount> <blockSize> <isLpMigrationOn>
#           <gvtMethod> <gvtPeriod> <stateSavePeriod>

# scheduleQRun  <testCycles> <timeoutPeriod> <model> <modelCmd>
#               <maxSimTime> <workerThreads> <scheduleQType>
#               <scheduleQCount> <isLpMigrationOn> <gvtMethod>
#               <gvtPeriod> <stateSavePeriod>

build "$HOME/ssd/ecl_warped/" "master" "/usr/include/mpich" "/usr/lib/mpich" "--with-sorted-ladder-queue"
scheduleQRun 1 500 traffic "./traffic_sim"  5000  4 "sorted-ladder-queue"  2  "off" "asynchronous" 1000 10

build "$HOME/ssd/ecl_warped/" "lockfree_ladder_queue" "/usr/include/mpich" "/usr/lib/mpich" ""
scheduleQRun 1 500 traffic "./traffic_sim" 10000  8 "lockfree-ladder"  1  "off" "asynchronous" 1000 10

build "$HOME/ssd/ecl_warped/" "bag_scheduling" "/usr/include/mpich" "/usr/lib/mpich" ""
bagProfile traffic "./traffic_sim" 10000 "statistics.out"
bagRun 1 500 traffic "./traffic_sim" 10000 4 0 1 "asynchronous" 1000 10 "statistics.out"

build "$HOME/ssd/ecl_warped/" "chain_scheduling" "/usr/include/mpich" "/usr/lib/mpich" "--with-sorted-ladder-queue"
chainRun 1 500 traffic "./traffic_sim"  5000  4 "sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 10000  8 "sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10

build "$HOME/ssd/ecl_warped/" "chain_scheduling" "/usr/include/mpich" "/usr/lib/mpich" "--with-partially-sorted-ladder-queue"
chainRun 1 500 traffic "./traffic_sim"  5000  4 "partially-sorted-ladder-queue"  1  2 "off" "asynchronous" 1000 10
chainRun 1 500 traffic "./traffic_sim" 10000  8 "partially-sorted-ladder-queue"  1  8 "off" "asynchronous" 1000 10

build "$HOME/ssd/ecl_warped/" "block_scheduling" "/usr/include/mpich" "/usr/lib/mpich" ""
blockRun 1 500 traffic "./traffic_sim"  5000  4 "stl-multiset"  1  2 "off" "asynchronous" 1000 10
blockRun 1 500 traffic "./traffic_sim" 10000  8 "stl-multiset"  1  8 "off" "asynchronous" 1000 10

build "$HOME/ssd/ecl_warped/" "block_scheduling" "/usr/include/mpich" "/usr/lib/mpich" "--with-splay-tree"
blockRun 1 500 traffic "./traffic_sim"  5000  4 "splay-tree"  1  2 "off" "asynchronous" 1000 10
blockRun 1 500 traffic "./traffic_sim" 10000  8 "splay-tree"  1  8 "off" "asynchronous" 1000 10


