/*body {
    font-family: Arial, Helvetica, sans-serif;
}*/

svg {
    background: #3987c9;
}
.tooltiptext {
    display: none;
    border-radius: 25px;
    position: absolute;
    left: 75px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: black;
    color: white;
    border: 1px solid #989898;
    pointer-events: none;
}
.state {
    fill: none;
    stroke: #333333;
    stroke-width: 0.5;
}
.county {
    fill: #e3e3e3;
    stroke: #fff;
    stroke-width: 0.5;
}
.selected {
    fill: yellow;
}

.arrow, .timelapse {
    display: inline;
    font-size: 1.5em;
    color: #333333;
}
.arrow:hover, .timelapse:hover{
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
}

.legend-box {
    position: absolute;
    background-color: white;
    width: fit-content;
    font-size: 14px;
    margin-top: 10px;
    /* margin-left: 15px; */
    margin-left: calc((100vw - 900px)/2);
    padding: 5px;
    border-style: solid;
    border-width: 1px;
}
.legend-fill {
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-color: black;
    display: inline-block;
}
.legend-value {
    display: inline-block;

}