svg {
    background: #3987c9;
}
.tooltiptext {
    display: none;
    border-radius: 25px;
    position: absolute;
    left: 75px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: black;
    color: white;
    border: 1px solid #989898;
    pointer-events: none;
}
.state {
    fill: none;
    stroke: #333333;
    stroke-width: 0.5;
}
.county {
    fill: #e3e3e3;
    stroke: #fff;
    stroke-width: 0.5;
}
.selected {
    fill: yellow;
}

.arrow {
    display: inline;
    font-size: 1.5em;
    color: #333333;
}
.arrow:hover{
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
}