svg {
    background: #3987c9;
}
.tooltiptext {
    visibility: hidden;
    border-radius: 25px;
    position: absolute;
    left: 75px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    background: black;
    color: white;
    border: 1px solid #989898;
    pointer-events: none;
}
.state {
    fill: none;
    stroke: #333333;
    stroke-width: 0.5;
}
.county {
    fill: #e3e3e3;
    stroke: #fff;
    stroke-width: 0.5;
}
.selected {
    fill: yellow;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 800px; /* Full-width */
    height: 15px;    /* Specified height */
    border-radius: 5px; /*  circle size? */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;  /* Slider handle height */
    border-radius: 50%;  /* circle size? */
    /*background: #4CAF50; /* Green background */
    background: #4d4d4d;
    cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%; /* circle size? */
    /*background: #4CAF50; /* Green background */
    background: #4d4d4d;
    cursor: pointer; /* Cursor on hover */
}