##run <No_of_Tests> <Stall_Timeout> <Model_Name> <Model_Command> <Max_Sim_Time> <Worker_Threads> <Scheduler_Count> <Chain_Size>
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 1 1
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 1 4
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 1 8
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 1 12
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 1 16
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 2 1
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 2 4
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 2 8
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 2 12
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 2 16
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 4 1
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 4 4
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 4 8
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 4 12
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 4 4 16
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 1 1
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 1 4
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 1 8
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 1 12
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 1 16
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 2 1
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 2 4
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 2 8
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 2 12
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 2 16
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 6 1
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 6 4
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 6 8
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 6 12
run 2 250 traffic "/usr/bin/mpiexec -hostfile ~/hosts ./traffic_sim" 100000 6 6 16
