##run <No_of_Tests> <Stall_Timeout> <Model_Name> <Model_Command> <Max_Sim_Time> <Worker_Threads> <Scheduler_Count>
run 10 90 epidemic "/usr/local/mpich2/bin/mpiexec -f ~/hosts ./epidemic_sim -m model_5500_obj.xml" 100000 2 1
run 10 90 epidemic "/usr/local/mpich2/bin/mpiexec -f ~/hosts ./epidemic_sim -m model_5500_obj.xml" 100000 3 1
run 10 90 epidemic "/usr/local/mpich2/bin/mpiexec -f ~/hosts ./epidemic_sim -m model_5500_obj.xml" 100000 4 1
run 10 90 epidemic "/usr/local/mpich2/bin/mpiexec -f ~/hosts ./epidemic_sim -m model_5500_obj.xml" 100000 5 1
run 10 90 epidemic "/usr/local/mpich2/bin/mpiexec -f ~/hosts ./epidemic_sim -m model_5500_obj.xml" 100000 6 1
run 10 90 epidemic "/usr/local/mpich2/bin/mpiexec -f ~/hosts ./epidemic_sim -m model_5500_obj.xml" 100000 7 1
run 10 90 epidemic "/usr/local/mpich2/bin/mpiexec -f ~/hosts ./epidemic_sim -m model_5500_obj.xml" 100000 2 2
run 10 90 epidemic "/usr/local/mpich2/bin/mpiexec -f ~/hosts ./epidemic_sim -m model_5500_obj.xml" 100000 4 2
run 10 90 epidemic "/usr/local/mpich2/bin/mpiexec -f ~/hosts ./epidemic_sim -m model_5500_obj.xml" 100000 6 2
run 10 90 epidemic "/usr/local/mpich2/bin/mpiexec -f ~/hosts ./epidemic_sim -m model_5500_obj.xml" 100000 3 3
run 10 90 epidemic "/usr/local/mpich2/bin/mpiexec -f ~/hosts ./epidemic_sim -m model_5500_obj.xml" 100000 6 3
