# build     <rootPath> <gitBranch> <mpiIncludePath> <mpiLibraryPath> <additionalFlags>

# buildLadder <rootPath> <gitBranch> <mpiIncludePath> <mpiLibraryPath> <additionalFlags> <bottomSize>

# bagProfile <model> <modelCmd> <seqSimTime> <fileName>

# runBag    <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime>
#           <workerThreads> <staticBagWindowSize> <fracBagWindow> <gvtMethod>
#           <gvtPeriod> <stateSavePeriod> <partitioningFile>

# permuteConfigBag <testCycles> <timeoutPeriod> <model> <modelCmd> <arrMaxSimTime>
#           <arrWorkerThreads> <arrStaticBagWindowSize> <arrFracBagWindow>
#           <arrGvtMethod> <arrGvtPeriod> <arrStateSavePeriod> <partitioningFile>

# runChain  <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime> <workerThreads>
#           <scheduleQCount> <chainSize> <isLpMigrationOn> <gvtMethod> <gvtPeriod>
#           <stateSavePeriod>

# runBlock  <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime>
#           <workerThreads> <scheduleQCount> <blockSize> <isLpMigrationOn>
#           <gvtMethod> <gvtPeriod> <stateSavePeriod>

# permuteConfigGroup <testCycles> <timeoutPeriod> <model> <modelCmd> <arrMaxSimTime>
#           <arrWorkerThreads> <arrScheduleQCount> <groupType> <arrGroupSize>
#           <arrLpMigration> <arrGvtMethod> <arrGvtPeriod> <arrStateSavePeriod>

# runScheduleQ <testCycles> <timeoutPeriod> <model> <modelCmd> <maxSimTime>
#           <workerThreads> <scheduleQType> <scheduleQCount> <isLpMigrationOn>
#           <gvtMethod> <gvtPeriod> <stateSavePeriod>

# permuteConfigScheduleQ <testCycles> <timeoutPeriod> <model> <modelCmd>
#           <arrMaxSimTime> <arrWorkerThreads> <scheduleQType> <arrScheduleQCount>
#           <arrLpMigration> <arrGvtMethod> <arrGvtPeriod> <arrStateSavePeriod>

# runSequential <timeoutPeriod> <model> <modelCmd> <maxSimTime>

### Common Configurations ###

root_dir="${PWD}/../.."
mpi_includdir="/usr/include/mpich"
mpi_libdir="/usr/lib/mpich"

#mpi_cmd="/usr/bin/mpiexec -hostfile ~/hosts "
mpi_cmd=""


## Choose model type and specifications ##
model="sandpile"
mspec="1m"

iterations=1

worker_threads=("6")

schedule_queues=("1" "2" "3" "6")

#lp_migration=("off" "on")
lp_migration=("off")

#gvt_method=("asynchronous" "synchronous")
gvt_method=("asynchronous")

#gvt_period=("128" "512" "1024")
gvt_period=("1000")

#state_save_period=("10" "16" "32" "64")
state_save_period=("32")

bag_window_size_off=("0")
bag_window_size_on=("4" "16" "32" "64" "128" "256")

frac_bag_window_off=("1.0")
frac_bag_window_on=("0.75" "0.50" "0.25" "0.05")

chain_size=("2" "3" "4")
block_size=("32" "64" "128" "256")


### Simulation Models ###

case_name="$model-$mspec"
case $case_name in
    "traffic-1m")
        echo "Simulations for 1 million LPs traffic"
        model_cmd="${mpi_cmd}./traffic_sim -x 1024 -y 1024 -n 5"
        max_sim_time=("500")
        seq_sim_time=300
        timeout=200
        ;;

    "traffic-10k")
        echo "Simulations for 10k LPs traffic"
        model_cmd="${mpi_cmd}./traffic_sim"
        max_sim_time=("10000")
        seq_sim_time=6000
        timeout=150
        ;;

    "epidemic-10k-ws")
        echo "Simulations for 10k LPs epidemic (watts-strogatz)"
        model_cmd="${mpi_cmd}./epidemic_sim"
        max_sim_time=("15000")
        seq_sim_time=8000
        timeout=200
        ;;

    "epidemic-10k-ba")
        echo "Simulations for 10k LPs epidemic (barabasi-albert)"
        model_cmd="${mpi_cmd}./epidemic_sim -m model_10k_ba.dat"
        max_sim_time=("15000")
        seq_sim_time=8000
        timeout=200
        ;;

    "epidemic-100k-ws")
        echo "Simulations for 100k LPs epidemic (watts-strogatz)"
        model_cmd="${mpi_cmd}./epidemic_sim -m model_100k_ws.dat"
        max_sim_time=("6000")
        seq_sim_time=200
        timeout=200
        ;;

    "epidemic-100k-ba")
        echo "Simulations for 100k LPs epidemic (barabasi-albert)"
        model_cmd="${mpi_cmd}./epidemic_sim -m model_100k_ba.dat"
        max_sim_time=("6000")
        seq_sim_time=200
        timeout=200
        ;;

    "sandpile-1m")
        echo "Simulations for 1m LPs sandpile"
        model_cmd="${mpi_cmd}./sandpile_sim"
        max_sim_time=("15000")
        seq_sim_time=8000
        timeout=150
        ;;

    "sandpile-10k")
        echo "Simulations for 10k LPs sandpile"
        model_cmd="${mpi_cmd}./sandpile_sim -d 100"
        max_sim_time=("15000")
        seq_sim_time=8000
        timeout=150
        ;;

    "pcs-10k")
        echo "Simulations for 10k LPs pcs"
        model_cmd="${mpi_cmd}./pcs_sim"
        max_sim_time=("500")
        seq_sim_time=350
        timeout=150
        ;;

    "pcs-1m")
        echo "Simulations for 1m LPs pcs"
        model_cmd="${mpi_cmd}./pcs_sim -x 1024 -y 1024"
        max_sim_time=("500")
        seq_sim_time=350
        timeout=150
        ;;

    *)
        echo "Invalid model choice"
        exit 1
        ;;
esac


### Execution Sequences ###

# sequential and stl-multiset
build $root_dir master $mpi_includdir $mpi_libdir ""
runSequential $timeout "$model" "$model_cmd" ${max_sim_time[0]}
permuteConfigScheduleQ $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        "stl-multiset" schedule_queues lp_migration gvt_method gvt_period state_save_period

# splay-tree
build $root_dir master $mpi_includdir $mpi_libdir "--with-splay-tree"
permuteConfigScheduleQ $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        "splay-tree" schedule_queues lp_migration gvt_method gvt_period state_save_period

# ladder-queue : 16
buildLadder $root_dir master $mpi_includdir $mpi_libdir "--with-sorted-ladder-queue" 16
permuteConfigScheduleQ $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        "ladder-queue:16" schedule_queues lp_migration gvt_method gvt_period state_save_period

# ladder-queue : 50
buildLadder $root_dir master $mpi_includdir $mpi_libdir "--with-sorted-ladder-queue" 50
permuteConfigScheduleQ $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        "ladder-queue:50" schedule_queues lp_migration gvt_method gvt_period state_save_period

# ladder-queue : 96
buildLadder $root_dir master $mpi_includdir $mpi_libdir "--with-sorted-ladder-queue" 96
permuteConfigScheduleQ $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        "ladder-queue:96" schedule_queues lp_migration gvt_method gvt_period state_save_period

# unsorted-bottom : 16
buildLadder $root_dir master $mpi_includdir $mpi_libdir "--with-partially-sorted-ladder-queue" 16
permuteConfigScheduleQ $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        "unsorted-bottom:16" schedule_queues lp_migration gvt_method gvt_period state_save_period

# unsorted-bottom : 50
buildLadder $root_dir master $mpi_includdir $mpi_libdir "--with-partially-sorted-ladder-queue" 50
permuteConfigScheduleQ $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        "unsorted-bottom:50" schedule_queues lp_migration gvt_method gvt_period state_save_period

# unsorted-bottom : 96
buildLadder $root_dir master $mpi_includdir $mpi_libdir "--with-partially-sorted-ladder-queue" 96
permuteConfigScheduleQ $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        "unsorted-bottom:96" schedule_queues lp_migration gvt_method gvt_period state_save_period

# lockfree-unsorted-bottom : 16 #
buildLadder $root_dir lockfree_ladder_queue $mpi_includdir $mpi_libdir "" 16
permuteConfigScheduleQ $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        "lockfree-unsorted-bottom:16" schedule_queues lp_migration gvt_method gvt_period \
        state_save_period

# lockfree : 50 #
buildLadder $root_dir lockfree_ladder_queue $mpi_includdir $mpi_libdir "" 50
permuteConfigScheduleQ $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        "lockfree-unsorted-bottom:50" schedule_queues lp_migration gvt_method gvt_period \
        state_save_period

# lockfree : 96 #
buildLadder $root_dir lockfree_ladder_queue $mpi_includdir $mpi_libdir "" 96
permuteConfigScheduleQ $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        "lockfree-unsorted-bottom:96" schedule_queues lp_migration gvt_method gvt_period \
        state_save_period

# bags #
build $root_dir bag_scheduling $mpi_includdir $mpi_libdir ""
bagProfile "$model" "$model_cmd" $seq_sim_time statistics.out
permuteConfigBag $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        bag_window_size_on frac_bag_window_off gvt_method gvt_period state_save_period statistics.out
permuteConfigBag $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        bag_window_size_off frac_bag_window_on gvt_method gvt_period state_save_period statistics.out

# chains #
build $root_dir chain_scheduling $mpi_includdir $mpi_libdir ""
permuteConfigGroup $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        schedule_queues "chain" chain_size lp_migration gvt_method gvt_period state_save_period

# blocks #
build $root_dir block_scheduling $mpi_includdir $mpi_libdir ""
permuteConfigGroup $iterations $timeout "$model" "$model_cmd" max_sim_time worker_threads \
        schedule_queues "block" block_size lp_migration gvt_method gvt_period state_save_period

# Move to model directory #
mkdir logs/$case_name
mv logs/*.* logs/$case_name/
