
body {
    font-family: 'Roboto Mono', monospace;
}

div#wrapper {
    margin: 0.5em;
}
div.main {
    margin-bottom: 2em;
    // margin: 0.5em;
    background-color: antiquewhite;
    padding: 1em;
}

h1 {
    font-size: 1.5em;
    // alignment: center;
    // padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.toast {
    margin-bottom: 0.5em;
}

div.toast a {
    float: right;
}

div#sbmt-btn {
    margin-top: 2em;
}

div.form-group {
    // border: 4px solid #b1dbd1;
}

p#statusmsg {
    margin-top: 1em;
    margin-bottom: 1em;
}

div#usageinfo {
    background-color: #f3d855;
    outline: 3px dashed #f3d855;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1.1em;
}