
body {
    font-family: 'Roboto Mono', monospace;
}

div.main {
    margin: 0.5em;
    background-color: antiquewhite;
    padding: 1em;
}

h1 {
    font-size: 1.5em;
    // alignment: center;
    // padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}